# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=

# Mode d'exécution (local ou docker)
ENVIRONMENT=  # ou "local"

# Password for the 'elastic' user (at least 6 characters)
ELASTICSEARCH_USERNAME=
ELASTIC_PASSWORD=

# Variables pour la base de données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST_LOCAL=
POSTGRES_HOST_DOCKER=

# PGADMIN_DEFAULT_EMAIL=@admin.com
# PGADMIN_DEFAULT_PASSWORD=

# Variables pour Elasticsearch
ELASTIC_HOST_LOCAL=
ELASTIC_HOST_DOCKER=
ELASTIC_INDEX=

# Password for the 'kibana_system' user (at least 6 characters)
# KIBANA_PASSWORD=

# Version of Elastic products
STACK_VERSION=

# Set the cluster name
CLUSTER_NAME=-

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=
#LICENSE=

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=

# Port to expose Kibana to the host
# KIBANA_PORT=

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=
KB_MEM_LIMIT=
LS_MEM_LIMIT=

# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=

RABBITMQ_URL_PROD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=